name: CI

on: [push]

jobs:
 build:
  runs-on: ubuntu-latest
  if: github.event.pusher.name != 'coolplaylinbot'
  steps:
   - name: Checkout
     uses: actions/checkout@master
   - name: Setup Node.js environment
     uses: actions/setup-node@v2.5.2
     with:
        node-version: '16'
   - name: Install dependencies
     run: npm install
   - name: Build
     run: npm run build